@model RegisterViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1>LINCOLN'S FAVORITE PIZZA</h1>
    <p class="lead">We serve pizza in Lincoln, Nebraska. We can’t wait to feed you!</p>
    <p><a asp-controller="Menus" asp-action="Index" class="btn btn-primary btn-lg">ORDER ONLINE &raquo;</a></p>
</div>
<br />
<div class="menu-titles">
    <h2>PIZZA</h2><hr />
</div>

<div class="row">
    <div class="col-md-4">
        <div class="menu-container">
            <img src="~/images/cheese.png" alt="Avatar" class="image" style="width:100%">
            <div class="middle-top-left">
                <h3><strong>CHEESE PIZZA</strong></h3>
                <p><a asp-controller="Menus" asp-action="Index" class="btn btn-primary btn-lg">ORDER ONLINE &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="menu-container">
            <img src="~/images/hamburger.png" alt="Avatar" class="image" style="width:100%">
            <div class="middle-top-right">
                <h3><strong>HAMBURGER PIZZA</strong></h3>
                <p><a asp-controller="Menus" asp-action="Index" class="btn btn-primary btn-lg">ORDER ONLINE &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="menu-container">
            <img src="~/images/pepperoni.png" alt="Avatar" class="image" style="width:100%">
            <div class="middle-btm-left">
                <h3><strong>PEPPERONI PIZZA</strong></h3>
                <p><a asp-controller="Menus" asp-action="Index" class="btn btn-primary btn-lg">ORDER ONLINE &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="menu-container">
            <img src="~/images/all-meat-special.png" alt="Avatar" class="image" style="width:100%">
            <div class="middle-btm-right">
                <h3><strong>ALL MEAT PIZZA</strong></h3>
                <p><a asp-controller="Menus" asp-action="Index" class="btn btn-primary btn-lg">ORDER ONLINE &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="menu-container">
            <img src="~/images/deluxe-pepperoni.png" alt="Avatar" class="image" style="width:100%">
            <div class="middle-btm-right">
                <h3><strong>DELUXE PEPPERONI PIZZA</strong></h3>
                <p><a asp-controller="Menus" asp-action="Index" class="btn btn-primary btn-lg">ORDER ONLINE &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="menu-container">
            <img src="~/images/bacon-cheeseburger.png" alt="Avatar" class="image" style="width:100%">
            <div class="middle-btm-right">
                <h3><strong>BACON CHEESEBURGER PIZZA</strong></h3>
                <p><a asp-controller="Menus" asp-action="Index" class="btn btn-primary btn-lg">ORDER ONLINE &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
<div class="menu-titles">
    <h2>PASTA</h2><hr />
</div>
<div class="row">
    <div class="col-md-4">
        <div class="menu-container">
            <img src="~/images/marinara-lasagne.png" alt="Avatar" class="image" style="width:100%">
            <div class="middle-top-left">
                <h3><strong>MARINARA LASAGNE</strong></h3>
                <p><a asp-controller="Menus" asp-action="Index" class="btn btn-primary btn-lg">ORDER ONLINE &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="menu-container">
            <img src="~/images/meat-sauce-lasagne.png" alt="Avatar" class="image" style="width:100%">
            <div class="middle-top-right">
                <h3><strong>MEAT LASAGNE</strong></h3>
                <p><a asp-controller="Menus" asp-action="Index" class="btn btn-primary btn-lg">ORDER ONLINE &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="menu-container">
            <img src="~/images/Spaghetti.png" alt="Avatar" class="image" style="width:100%">
            <div class="middle-btm-left">
                <h3><strong>SPAGHETTI</strong></h3>
                <p><a asp-controller="Menus" asp-action="Index" class="btn btn-primary btn-lg">ORDER ONLINE &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
<div class="menu-titles">
    <h2>SALADS & EXTRAS</h2><hr />
</div>
<div class="row">
    <div class="col-md-4">
        <div class="menu-container">
            <img src="~/images/breadtwists.png" alt="Avatar" class="image" style="width:100%">
            <div class="middle-top-left">
                <h3><strong>BREADTWISTS</strong></h3>
                <p><a asp-controller="Menus" asp-action="Index" class="btn btn-primary btn-lg">ORDER ONLINE &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="menu-container">
            <img src="~/images/house-salad.png" alt="Avatar" class="image" style="width:100%">
            <div class="middle-top-right">
                <h3><strong>HOUSE SALAD</strong></h3>
                <p><a asp-controller="Menus" asp-action="Index" class="btn btn-primary btn-lg">ORDER ONLINE &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="menu-container">
            <img src="~/images/mixed-salad.png" alt="Avatar" class="image" style="width:100%">
            <div class="middle-btm-left">
                <h3><strong>MIXED SALAD</strong></h3>
                <p><a asp-controller="Menus" asp-action="Index" class="btn btn-primary btn-lg">ORDER ONLINE &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="newsletter-img">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="newsletter-container">
            <h2>Sign up for our newsletter</h2><br />

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="Enter Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" placeholder="Enter Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br /><br />
            <button type="submit" class="btn btn-default"><strong>SIGN UP NOW</strong></button>

        </form>
        
    </div>
</div>